     {% for ivt  in ivts %}
			<tr>
			  <td>{{ivt.haor_id.name}}</td>
			  <td>{{ivt.worktype_id.wtype}}</td>
			  <td>{{ivt.name}}</td>
			  <td>{{ivt.start_chainage}}</td>
			  <td>{{ivt.finish_chainage}}</td>
			  <td>{{ivt.length}}</td>
			  <td>{{ivt.volume}}</td>
			  <td>{{ivt.vent_no}}</td>
			  <td>{{ivt.dpp_cost}}</td>	  
			  
			  <td style="width: 150px">
					  <button type="button button-lg"
							  class="btn btn-primary btn-sm js-create-contract"
							   ivt-id="{{ivt.id}}"
							  data-url="{% url 'contract_intervention_create' %}">
						<span class="glyphicon glyphicon-pencil"></span>Add to Contract
					  </button>
				</td>
						 
			  
			  
			  
			  
			  
			</tr>
		{% empty %}
			<tr>
				<td colspan="7" class="text-center bg-warning">No Interventions</td>
			</tr>
    {% endfor %}
  

