{% for ipcitem  in ipcitems %}
<tr>  
<td>{{ipcitem.contract_ivt.contract_id}}</td>
<td>{{ipcitem.contract_ivt.dpp_intervention_id.name}}</td>
<td>{{ipcitem.contract_ivt.dpp_intervention_id.worktype_id}}</td>
<td>{{ipcitem.contract_ivt.dpp_intervention_id.start_chainage }}</td>
<td>{{ipcitem.contract_ivt.dpp_intervention_id.finish_chainage }}</td>
<td>{{structure.contract_ivt.dpp_intervention_id.length}}</td>
<td>{{structure.contract_ivt.dpp_intervention_id.vent_no}}</td>
<td>{{structure.overall_status}}</td>
<td>{{structure.current_progress}}</td>
<td>{{structure.value_of_work_done}}</td>
<td>{{structure.problems}}</td>
<td>					  
<button type="button button-lg"
							  class="btn btn-primary btn-sm js-update-qualitative-progress "
							   
							  data-url="{% url 'qualitative_progress_update' pk=structure.id %}">
						<span class="glyphicon glyphicon-pencil"></span>Update
					  </button>
					  </td>

</tr>

{% endfor %}
