<div class="card"  id="PE1">
  <div class="card-header" >
    Progress Events
  </div> 
  <table class="card-table table event-table">
    <thead>
      <tr>
        <th scope="col">Report No</th>
		<th scope="col">Report Name</th>
		<th scope="col">Start Date of Reporting</th>
        <th scope="col">Finishing Date of Reporting</th>
		<th scope="col">Last Submission Date</th>
        <th scope="col">Message</th>
		<th scope="col">Status</th>
		<th scope="col">Edit</th>
		<th scope="col">Delete</th>
      </tr>
    </thead>
 <tbody>

{% include 'includes/progress_event_table.html' %}
<!-- <tr> 
<td>Y2019W43C447T1571765603.072088</td>
<td>w1</td>
<td>2019-01-22</td>
<td>2019-01-22</td>
<td>2019-01-22</td>
<td>Dear Sir,
Please Submit the Report No:Y2019W43C447T1571765603.072088 within 22/01/2019
Regards,
Project Director,
Haor Flood Management & Livelihood Improvement Project.</td>
<td>Live</td>
<td>Edit</td>
<td>Delete</td>
</tr>-->
</tbody> 
</table>
</div>


