{% load widget_tweaks %}
<form method="post" action="{% url 'progress_item_delete' pk=form.instance.pk %}" class="js-progress-item-delete-form" >
 {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Delete Progress Item</h4>
  </div>
  <div class="modal-body">
    <h5>Are You Sure You Watnt to Delete The Progress Item {{form.instance.item_name}}?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Delete</button>
  </div>
</form>