{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> {% block title %}CMIS {% endblock  %} </title>
<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/app.css'  %}">
<!-- custom css for side nav -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- fontaowsome javascript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- fontaowsome javascript -->
<script  src="{% static 'js/solid.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>


</head>
<body>

<div class="wrapper">
<!-- sidebar -->
<nav id="sidebar">
<div class="sidebar-header">
            <h5>SE/SURFACE WATER HYDROLOGY</h5>
</div>
<div class="dropdown">
 <!-- <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Progress
  </a> -->
  
  <!--<button class="dropbtn">Progress<i class="fa fa-caret-down"></i></button> -->

<!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% include 'includes/progress_dropdown.html' %}
  </div> -->
  <div class="dropdown-divider"></div>
  <h5>WL Data Collection</h5>
   <a class="dropdown-item financiallink" href={% url 'wl_data_collect' %}><i class="fas fa-money-bill-alt"></i>Collect SMS</a>
  
  <div class="dropdown-content">
<!--
  <a class="dropdown-item financiallink" href="#"><i class="fas fa-money-bill-alt"></i>View Total Expenditure</a>
  <a class="dropdown-item financiallink" href={% url 'monthly_expenditure_codewise' %}><i class="fas fa-money-bill-alt"></i>View Codewise Expenditure</a>
    <a class="dropdown-item financiallink" href="#"><i class="fas fa-money-bill-alt"></i>IMED Expenditure</a>
  <a class="dropdown-item financiallink" href={% url 'monthly_expenditure' %}><i class="fas fa-money-bill-alt"></i>View Monthly Expenditure</a>
  <a class="dropdown-item financiallink" href="{% url 'invoice_index' %}"><i class="fas fa-money-bill-alt"></i>Invoice List</a>
 <a class="dropdown-item financiallink" href="{% url 'expenditure_index' %}"><i class="fas fa-money-bill-alt"></i>Expenditure List</a>  
  </div>
     <a class="dropdown-item reportlink js-view-report-event" href="{% url 'dashboard' %}">
  <i class="fas fa-book"></i>Dashbaord
  </a>
  <div class="dropdown-divider"></div>
  <h5>User Authentication</h5>
  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-money-bill"></i>Logout</a>
  -->
  
  
  <!--<h5>Reports</h5> -->
  <!-- 
  
  <div class="dropdown-content">
 <a class="dropdown-item reportlink js-create-report-event" href="#" data-url="{% url 'create_report_event' %}"  ><i class="fas fa-book"></i>Create Report Event</a>
 <a class="dropdown-item reportlink js-view-report-event" href="#PE1" data-url="{% url 'vierw_report_event' %}"  ><i class="fas fa-book"></i>View Report Event</a>
 <a class="dropdown-item reportlink" href="#"><i class="fas fa-ruler-horizontal"></i>Create Measurement</a>
   </div>
   -->
   <!--
  <div class="dropdown-divider"></div>
  <h5>Progress</h5>  
   <div class="dropdown-content">
   {% include 'includes/progress_dropdown2.html' %}
   </div>
  -->
</div>






		


</nav>
<div  id="content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
<!--{% include 'includes/progress_cards.html' %} 
{% include 'includes/progress_event_cards.html' %}
-->
<table class="table table-responsive table-bordered table-striped  table-hover" id="sms_item_table">
    <thead class="thead-dark">
	 
      <tr>		
		<th>Date</th>
		<th>SMS Content</th>
        <th >Mobile No</th>        
      </tr>
    </thead>
	<tbody>    
	<!--{% include 'includes/progress_event_cards.html' %}-->
  </tbody>

</table>
<!--Report Modal  -->
<div class="modal fade" id="reprotmodal">
<div class="modal-dialog">
<div class="modal-content">

</div>
</div>
</div>
<!-- End of Report Modal -->


</div>

</div>













{% block javascript %}
 <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
 <script src="{% static 'js/highcharts.js'   %}"></script>
 <script src="{% static 'js/jspdf.min.js' %}"></script>
 <script src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
 <script src="{% static 'js/tableHTMLExport.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script> 
  <!--<script src="{% static 'js/popper.min.js' %}"></script> -->
 <script src="{% static 'js/bootstrap.min.js' %}"></script> 
<!-- <script src="{% static 'js/bootstrap.bundle.js' %}"></script>-->
 <script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}" ></script>

  
<script src="{% static 'js/sidebar.js' %}" ></script>
 <!--{{ progress|json_script:"pdata" }} -->
<script src="{% static 'js/dashboard.js' %}" ></script>
 
 
  
{% endblock %}
{% block localscript %}
{% endblock %}
</body>

</html>