{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> {% block title %}WL EDIT {% endblock  %} </title>
<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/app.css'  %}">
<!-- custom css for side nav -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- fontaowsome javascript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- fontaowsome javascript -->
<script  src="{% static 'js/solid.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>


</head>
<body>

<div class="wrapper">
<!-- sidebar -->
<nav id="sidebar">
<div class="sidebar-header">
            <h3>HYDROLOGY</h3>
</div>
<div class="dropdown">
 <!-- <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Progress
  </a> -->
  
  <!--<button class="dropbtn">Progress<i class="fa fa-caret-down"></i></button> -->

<!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% include 'includes/progress_dropdown.html' %}
  </div> -->
  <div class="dropdown-divider"></div>
  <h5>WL</h5>
  <div class="dropdown-content">
  <a class="dropdown-item financiallink" href="{% url 'wl_index' %}"><i class="fas fa-home"></i>INDEX</a>
  <a class="dropdown-item reportlink js-view-report-event" href="{% url 'send_email' %}"><i class="fas fa-envelope-open-text"></i>SEND EMAIL</a>
  <!--
  <a class="dropdown-item reportlink js-view-report-event" href="{% url 'pac_index' %}"><i class="fas fa-book"></i>Project Accounting</a>
  -->
  </div>
    <div class="dropdown-divider"></div>
  <h5>User Authentication</h5>
  <div class="dropdown-conten"> 
  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
  

  
  
 
</div>






		


</nav>
<div  id="content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
<!-- Expenditure sort -->
{% include 'wldata/includes/gauges/gauge_select.html' %}
<!--{% include 'pac/includes/expenditures/month_select.html' %} -->
<!--{% include 'pac/includes/expenditures/code_select.html' %} -->
<!-- Expenditure Navigation Buttons -->
 <button type="button" class="btn btn-primary btn-md js-sort-all" data-url="{% url 'gauge_data'         %}" >				
							 
						<span class="glyphicon glyphicon-pencil"></span>Sort
					  </button>
 <button type="button" class="btn btn-primary btn-md js-report" id="js-report" data-url="{% url 'progress_report'%}">				
							 
						<span class="glyphicon glyphicon-pencil"></span>Report
					  </button>
<!-- Highchart Table-->

 <div id = "container" style = "width:1500px; height: 7000px; margin: 0 auto"></div>				  
<!-- WL Table -->

<div id="customers">				  				  
<table class="table table-bordered table-striped  table-hover" id="ivt-table">
    <thead class="thead-dark">
	 
      <tr>
		<th>GAUGE</th>
		<th>Time</th>
		<th>WL</th>
		<th>EDIT</th>
        <th>DELETE</th>      
      </tr>
    </thead>
	<tbody>    
	{% include 'wldata/includes/gauges/partial_gauge_wl.html' %}
  </tbody>

</table>
</div>

<!--Report Modal  -->
<div class="modal fade" id="reprotmodal">
<div class="modal-dialog">
<div class="modal-content">

</div>
</div>
</div>
<!-- End of Report Modal -->
 <div class="modal fade" id="modal-ivt">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

</div>
</div>













{% block javascript %}
 <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
 <script src="{% static 'js/highcharts.js'   %}"></script>
 <script src="{% static 'js/jspdf.min.js' %}"></script>
 <script src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
 <script src="{% static 'js/tableHTMLExport.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script> 
  <!--<script src="{% static 'js/popper.min.js' %}"></script> -->
 <script src="{% static 'js/bootstrap.min.js' %}"></script> 
<!-- <script src="{% static 'js/bootstrap.bundle.js' %}"></script>-->
 <script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}" ></script>

  
<script src="{% static 'js/sidebar.js' %}" ></script>
 <!--{{ progress|json_script:"pdata" }} -->
<script src="{% static 'js/dashboard.js' %}" ></script>
<!-- Expenditure list Java Script -->
<!-- <script src="{% static 'pac/js/expenditure_list.js'  %}"></script> -->
<script src="{% static 'wldata/js/gauge_data_view.js'  %}"></script>
  
{% endblock %}
{% block localscript %}
{% endblock %}
</body>

</html> 
