body {
	 background-color: white;
	 /*background-image: url(../img/leaves.png);*/
	
}
#pagecenter{
  
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
#footer {
min-height: 60px;	
	
}